@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@import './normalize.css';
@import './case.css';
@import './u-case.webflow.css';

.header {
    background-image: url('../images/ucase---overlay-pattern.png') !important;
    background-color: var(--case-yellow) !important;
    background-position: 50%;
    background-repeat: repeat;
    background-size: contain;
    margin-top: 0;
    padding-top: 3em;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
}