@media (min-width:992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="c9037e5e-4f1a-7eef-d8b1-a339fe0c2294"] {
        -webkit-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0e008f32-1617-f27a-7abd-760eefcc8735"] {
        -webkit-transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e0566be4-826c-378c-0d53-f02832fa701a"] {
        -webkit-transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="70a28926-4468-4379-149d-cae994cfa78d"] {
        -webkit-transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b23718b-6f2f-8331-f6b1-a4794a45c9f0"] {
        -webkit-transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c3113f"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c31144"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        opacity: 0;
    }
}

@media (max-width:991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="c9037e5e-4f1a-7eef-d8b1-a339fe0c2294"] {
        -webkit-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0e008f32-1617-f27a-7abd-760eefcc8735"] {
        -webkit-transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e0566be4-826c-378c-0d53-f02832fa701a"] {
        -webkit-transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-21VW, 3VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="70a28926-4468-4379-149d-cae994cfa78d"] {
        -webkit-transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b23718b-6f2f-8331-f6b1-a4794a45c9f0"] {
        -webkit-transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(38VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c3113f"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c31144"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        opacity: 0;
    }
}

@media (max-width:767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="c9037e5e-4f1a-7eef-d8b1-a339fe0c2294"] {
        -webkit-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0e008f32-1617-f27a-7abd-760eefcc8735"] {
        -webkit-transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e0566be4-826c-378c-0d53-f02832fa701a"] {
        -webkit-transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="70a28926-4468-4379-149d-cae994cfa78d"] {
        -webkit-transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b23718b-6f2f-8331-f6b1-a4794a45c9f0"] {
        -webkit-transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c3113f"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c31144"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        opacity: 0;
    }
}

@media (max-width:479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="c9037e5e-4f1a-7eef-d8b1-a339fe0c2294"] {
        -webkit-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0VW, 0VW, 0VW) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0e008f32-1617-f27a-7abd-760eefcc8735"] {
        -webkit-transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(32VW, -22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e0566be4-826c-378c-0d53-f02832fa701a"] {
        -webkit-transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="70a28926-4468-4379-149d-cae994cfa78d"] {
        -webkit-transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(-29VW, -18VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5b23718b-6f2f-8331-f6b1-a4794a45c9f0"] {
        -webkit-transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -moz-transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        -ms-transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform: translate3d(37VW, 22VW, 0VW) scale3d(1, 1, 1) rotateX(0DEG) rotateY(0DEG) rotateZ(0DEG) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c3113f"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-4DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="df8ba497-8e89-eee6-5eb6-a66803c31144"] {
        -webkit-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        transform: translate3d(0, 2EM, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        opacity: 0;
    }
}